@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.eot');
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('fonts/lato-thin-webfont.eot');
    src: url('fonts/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-thin-webfont.woff2') format('woff2'),
         url('fonts/lato-thin-webfont.woff') format('woff'),
         url('fonts/lato-thin-webfont.ttf') format('truetype'),
         url('fonts/lato-thin-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{background:#ddd;}
*{margin:0;padding:0;}
.header_area{background: url(images/sliderbg.jpg) no-repeat scroll -280px  0px;background-size:cover;}
.container{width:960px;margin:0 auto;} 
.logo{}
.header_text{padding-top:300px;}
.header_text h1 {
	color: #fff;
	font-size: 65px;
	font-family: latobold;
	width: 67%;
	text-align: center;
	margin: 0 auto;
}
.header_text p {
	color: #fff;
	font-size: 22px;
	font-family: latobold;
	width: 90%;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
	letter-spacing: 1px;
	margin-top: 30px;
}
.shape {
	text-align: center;
	margin-top: 360px;
	padding-bottom: 100px;
}
.about_us_area{position: relative;}
.container{}
.about_us{
	border-left:3px solid #3C3C3C;
	border-right:3px solid #3C3C3C;
	border-bottom:3px solid #3C3C3C;
	margin-top: 200px;
    margin-bottom: 200px;
	position: relative;
}
#bordertopLeft{
	border-top: 3px solid #3C3C3C;
    position: absolute;
    right: 70%;
    left: 0;
}
#bordertopright{
	border-top: 3px solid #3C3C3C;
    position: absolute;
    left: 70%;
    right: 0;
}
.area_heading{position: absolute;
    margin-top: -15px;width: 960px;
    margin: 0 auto;
}
.area_heading h1{margin-top: -15px;color:#3C3C3C;text-transform:uppercase;text-align:center;}
.about_us_text{width: 60%;
    padding: 100px 0px;
    margin: 0 auto;
    text-align: center;}
	
.about_us p,.services p,.single_what_we_do_text p,.contact_us p {
	font-size: 20px;
font-family: latoregular;
margin-bottom: 15px;
text-align: justify;
}	
	
.services_area{background: url(images/servicebg.jpg) no-repeat scroll -260px 0px;}
.service{padding-top: 140px;
    padding-bottom: 99px;}
.service .area_heading h1{color:#fff;}
.services{border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: #fff;
    position: relative;}
.services_text{width: 60%;
    padding: 70px 0px;
    margin: 0 auto;
    text-align: center;}
	
.services #bordertopLeft,.services #bordertopright{
	border-top: 3px solid #fff;
    
}
	
.what_we_do_area{}
.what_we_do{border-left:3px solid #3C3C3C;
	border-right:3px solid #3C3C3C;
	border-bottom:3px solid #3C3C3C;
	margin-top: 200px;
    margin-bottom: 200px;
	position: relative;}
.single_what_we_do_text{width: 60%;padding: 100px 0px 0px 0px;margin: 0 auto;text-align: center;}
.single_what_we_do_text img{margin-bottom:50px;}
.single_what_we_do_text h3{margin-bottom:50px;text-transform:uppercase;}
.single_what_we_do_text ul{margin:0;padding:0;}
.single_what_we_do_text ul li{list-style:none;display:block;font-size: 20px;font-family: latoregular;margin-bottom:10px;}
.single_what_we_do_text:last-child{padding-bottom:100px;}
.portfolio_area {overflow: hidden;}
.portfolio{}
.single_portfolio{float:left;margin-bottom:70px;}
.single_portfolio h1{text-transform:uppercase;margin-top: -55px;color: #fff;margin-left: 20px;}
.single_portfolio_left,.single_portfolio_right{width:29%;}

.single_portfolio_center{width:40%;margin-right:1%;margin-left:1%;}
.single_portfolio img{width: 100%;height: 200px;}
.contact_us_area{}
.contact_us{border-left:3px solid #3C3C3C;
	border-right:3px solid #3C3C3C;
	border-bottom:3px solid #3C3C3C;
	margin-top: 200px;
    margin-bottom: 50px;
	position: relative;}
.contact_us_text{width: 60%;
    padding: 100px 0px;
    margin: 0 auto;
    text-align: center;}
.contact_us_text button{border:none;margin-top:50px;background:#3C3C3C;padding:15px 20px;color:#fff;width:300px;text-transform:uppercase;cursor: pointer;}
.footer_area{}
.copyright{text-align:center;padding:30px 0px;font-family: latoregular;}


/*scroll to top*/

#back-top {
	position: fixed;
	bottom: 30px;
	right: 100px;
}
#back-top a {
	width: 64px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
	opacity:50%;
}
/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(images/top.png) no-repeat center center;
	text-indent:-999999px;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	opacity:50%;
	background-color: #fff;
	
}
#back{
	font-weight: bold;
	font-size: 22px;
	padding:10px;
	border: 2px solid #333;
	border-radius: 29px;
}